<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="fastwin_lucky_games.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
	<add key="APP_KEY" value="0x226C9D6406C8571F133DE4C7995140C4" />
	<!--MAXFAIR-->
	<add key="SUPPLIER_ID_MAXFAIR" value="60"/>
	<add key="API_MXF_FixedPassword" value="bingomagic" />
	<add key="API_MXF_CreateAccount" value="https://maxfair.fastwin.ph/DFNN/servlet/api?method=regMobileUser"/>
	<add key="API_MXF_Login" value="https://maxfair.fastwin.ph/DFNN/servlet/api?method=login"/>
	<add key="API_MXF_Launch2" value="https://maxfair.fastwin.ph/GameLobbyApp/?"/>
	<add key="API_MXF_Launch" value="https://maxfair.fastwin.ph/mobile/index.html?p=maxfair"/>
	<add key="API_MXF_Deposit" value="https://maxfair.fastwin.ph/DFNN/servlet/api?method=deposit"/>
	<add key="API_MXF_Withdrawal" value="https://maxfair.fastwin.ph/DFNN/servlet/api?method=withdrawal"/>
	<add key="API_MXF_BalanceInq" value="https://maxfair.fastwin.ph/DFNN/servlet/api?method=balance"/>
	<!--ARUZE GAMING-->
	<add key="SUPPLIER_ID_ARUZE" value="85" />
	<add key="API_ARZ_FixedPassword" value="bingomagic" />
	<add key="API_ARZ_CreateAccount" value="https://aruze-online.fastwin.ph/DFNN/servlet/api?method=regMobileUser" />
	<add key="API_ARZ_Login" value="https://aruze-online.fastwin.ph/DFNN/servlet/api?method=login" />
	<add key="API_ARZ_Launch2" value="https://aruze-online.fastwin.ph/SlotGameLobbyApp/?" />
	<add key="API_ARZ_Deposit" value="https://aruze-online.fastwin.ph/DFNN/servlet/api?method=deposit" />
	<add key="API_ARZ_Withdrawal" value="https://aruze-online.fastwin.ph/DFNN/servlet/api?method=withdrawal" />
	<add key="API_ARZ_BalanceInq" value="https://aruze-online.fastwin.ph/DFNN/servlet/api?method=balance" />
	<!--RED THUNDER-->
	<add key="SUPPLIER_ID_RDT" value="1136"/>
	<add key="API_RDT_CreateAccount" value="https://games.redthunder-games.com/api/instawin?method=create"/>
	<add key="API_RDT_Balance" value="https://games.redthunder-games.com/api/instawin?method=balance"/>
	<add key="API_RDT_Deposit" value="https://games.redthunder-games.com/api/instawin?method=deposit"/>
	<add key="API_RDT_Withdraw" value="https://games.redthunder-games.com/api/instawin?method=withdrawal"/>
	<add key="API_RDT_Login" value="https://games.redthunder-games.com/api/instawin?method=login"/>
	<add key="API_RDT_Player_Type" value="RGP"/>
	<add key="API_RDT_Password" value="00redthunder00"/>
	<add key="API_RDT_LOGOUT_URL" value="http://preprod.fastwin.com.ph/lobby/"/>
	<add key="API_RDT_REDIRECT_URL" value="http://preprod.fastwin.com.ph/lobby/"/>
	<add key="API_RDT_DEPOSIT_AUTH_ID" value="0f09a358004a98964965b675d848e11ad61ec25f0cd8fb88e90cc7f7f13ac75f4d6a345bb6172411ee2aed4d5668c278c443aff8ed580bacbb819136721e4b93"/>
	<add key="API_RDT_WITHDRAW_AUTH_ID" value="f21183b5dfdc8f2a80f6fa853839b1b88e22b290c87acf8c1624a22749f6963800a21b114e3131f17b2df9c651e81c7fec01089107eccd8a5c5702a98d3aded7"/>
	<!--SEAMLESS WALLET-->
	<add key="WALLET_URL" value="https://wap.fastwin.ph:8443" />
	<add key="WALLET_KEY" value="RjZBMzcxOTY0RDVBNERERkI3NUU0NDRBMDJBNjhDNUEyMDE3MjhGMzE3RTk5RkVBQTE1RTY5NDI5Mzg0OUIxMzc0QUNDMA==" />
	<add key="SUPPLIER_ID_ZITRO" value="1133" />
	<add key="SUPPLIER_ID_VIBRA" value="1134" />
	<add key="SUPPLIER_ID_CALETA" value="1135" />
	<add key="SUPPLIER_ID_SA" value="1161" />
	<add key="SUPPLIER_ID_TOMHORN" value="1157" />
	<add key="SUPPLIER_ID_EVO" value="1162" />
	<add key="SUPPLIER_ID_BF" value="1159" />
	<add key="SUPPLIER_ID_RTG" value="54" />
	<add key="CALETA_URL" value="https://play.fastwin.ph/prod/caleta/new-lobby.html" />
	<add key="VIBRA_URL" value="https://play.fastwin.ph/prod/vibra/new-lobby.html" />
	<add key="ZITRO_URL" value="https://play.fastwin.ph/prod/zitro/new-lobby.html" />
	<add key="SA_URL" value="https://play.fastwin.ph/prod/sagaming/LobbyUrl.php" />
	<add key="SA_URL2" value="https://web.sa-globalxns.com/app.aspx" />
	<add key="TOMHORN_URL" value="https://play.fastwin.ph/prod/tomhorn/new-lobby.html" />
	<add key="EVO_URL" value="https://play.fastwin.ph/prod/evolution/new-lobby.html" />
	<add key="BF_URL" value="https://play.fastwin.ph/prod/bfgaming/new-lobby.html" />
	<add key="RTG_URL" value="https://play.fastwin.ph/prod/realtimegaming/new-lobby.html" />
	<add key="EVO_BTG_URL" value="https://play.fastwin.ph/prod/bigtimegaming/new-lobby.html" />
	<add key="EVO_NETENT_URL" value="https://play.fastwin.ph/prod/netent/new-lobby.html" />
	<add key="EVO_NOLIMIT_URL" value="https://play.fastwin.ph/prod/nolimitcity/new-lobby.html" />
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
	<sessionState timeout="120" />
	<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
		<namespaces>
			<add namespace="System" />
			<add namespace="System.Collections" />
			<add namespace="System.Collections.Specialized" />
			<add namespace="System.Configuration" />
			<add namespace="System.Text" />
			<add namespace="System.Text.RegularExpressions" />
			<add namespace="System.Web" />
			<add namespace="System.Web.Caching" />
			<add namespace="System.Web.SessionState" />
			<add namespace="System.Web.Security" />
			<add namespace="System.Web.Profile" />
			<add namespace="System.Web.Services" />
			<add namespace="System.Web.UI" />
			<add namespace="System.Web.UI.WebControls" />
			<add namespace="System.Web.UI.WebControls.WebParts" />
			<add namespace="System.Web.UI.HtmlControls" />
			<add namespace="System.Xml" />
			<add namespace="System.IO" />
			<add namespace="System.Xml.Serialization" />
			<add namespace="System.Collections.Generic" />
			<add namespace="System.Net" />
			<add namespace="System.Security.Cryptography" />
			<add namespace="System.Security.Cryptography.X509Certificates" />
			<add namespace="System.Threading" />
		</namespaces>
	</pages>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <fastwin_lucky_games.My.MySettings>
      <setting name="fastwin_lucky_games_WebReference_InstawinWebService"
        serializeAs="String">
        <value>http://210.14.26.167/kgiws/main.asmx</value>
      </setting>
      <setting name="fastwin_lucky_games_WebReference1_InstawinWebServiceAdmin"
        serializeAs="String">
        <value>http://210.14.26.167/kgiws/backoffice.asmx</value>
      </setting>
      <setting name="fastwin_lucky_games_WebReference2_InstawinWebService"
        serializeAs="String">
        <value>http://116.93.80.103/cmsws/main.asmx</value>
      </setting>
    </fastwin_lucky_games.My.MySettings>
  </applicationSettings>
</configuration>